@import "./css/root.css";

.player-account-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.left-side-container {
  display: flex;
  flex-direction: column;
}

/* .middle-size-container {
  display: flex;
} */

.right-side-container {
  display: flex;
  flex-direction: column;
}

.main-container {
  background-color: var(--primaryColor);
  color: white;
}

body {
  background-color: var(--primaryColor);
}

.accent-c {
  color: var(--accentColor);
  text-shadow: 1px 1px black;
}

.titleStyle {
  font-size: 24px;
}

.descStyle {
  font-size: 15px;
}

.descStyle > span,
.titleStyle > span {
  color: var(--accentColor);
  text-shadow: 1px 1px black;
  font-weight: bold;
}
